<%# sign up form %>



<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

<div class="jumbotron">
	<div class="form-group" style="position: relative; left: 535px">
		<h2>Sign up</h2>
		  <div class="form-inputs">
		    <%= f.input_field :email, required: true, autofocus: true, class: 'form-control', placeholder: 'email address', style: 'width: 200px' %>
		    <%= f.input_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), class: 'form-control', placeholder: 'password', style: 'width: 200px' %>
		    <%= f.input_field :password_confirmation, required: true, class: 'form-control', placeholder: 'password confirmation', style: 'width: 200px' %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign up", class: "btn btn-lg btn-block", style: 'width: 200px'  %>
		  </div>



	</div>
</div>

<% end %>



